html, body, main{
    width: 100%;
    height: 100%;
}

section{
    width: 100%;
}

body, .landing-btns, .landing-main /*, .login-wrapper, .login-form-wrapper form*/{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 60px;
}

body{
    background-color: #0D3640;
    color: #F0FCFA;
    flex-direction: column;
    font-family: monospace;
}


.logo-wrapper{
    border: 2px solid #000A16;
    border-radius: 150px;
    padding: 8px;
    background-color: #406570;
    display: flex;
    
}

.logo{
    height: 50px;
    width: auto;
    clip-path: circle(25px);
}


/*-----------------------LANDING MAIN (LOGIN, SIGNUP)------------------ */
.landing-main{
    font-size: 50px;
    flex-direction: column;
}

.landing-wrapper{
    text-align: center;
}

.landing-btns{
    display: flex;
    justify-content: space-evenly;
}

.landing-btns .login-article, .landing-btns .signup-article{
    display: flex;
}

/* shared */
.landing-btns .login-article button, .landing-btns .signup-article button{
    font-family: inherit;
    font-size: inherit;
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    border: 4px solid #000A16;
    padding: 0px 25px;
    background-color: #F0FCFA;
    width: auto;
}

.landing-btns .signup-article button, .landing-btns .login-article button{
    transform: translate(-5%, -13%)
}


.landing-btns .login-article div, .landing-btns .signup-article div{
    background-color: #334A51;
    height: 66.77px;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
.landing-btns .login-article div{
    width: 222.95px;
}

.landing-btns .signup-article div{
    width: 250.44px;
}


/* ---------------------LOGIN SCREEN------------------- */

.login-wrapper{
    height: 100%;
}

.login-wrapper, .login-form-wrapper form{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}


.login-wrapper, .login-form-wrapper form{
    flex-direction: column;
}

.login-form-wrapper input{
    height: 30px;
    width: 300px;
    border-radius: 8px;
    margin-bottom: 50px;
    background-color: #F0FCFA;
}

.login-form-wrapper input::placeholder{
    color: #5E838E;
    text-align: center;
    font-size: 19px;
    font-family: monospace;
}

.login-btn{
    margin-top: 30px;
}

.login-form-wrapper form .label-wrapper{
    margin-bottom: 10px;
}

.label-wrapper label{
    background-color: #406570;
    border: 3px solid #000A16;
    border-radius: 10px;
    padding: 0 40px;
    position: absolute;
    z-index: 1;
    transform: translate(-3%, -10%);
    font-size: 40px;
}

.label-wrapper div{
    height: 52px;
    width: 283.27px;
    position: relative;
    z-index: 0;
    background-color: #96AFB8;
    border-radius: 10px;
}

.login-btn button{
    font-size: 40px;
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    border: 4px solid #000A16;
    padding: 0px 20px;
    background-color: #F0FCFA;
    width: auto;
    transform: translate(-4%, -10%);
    font-family: inherit;
}

.login-btn div{
    background-color: #334A51;
    height: 54.67px;
    width: 179.96px;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}


/* ------------------------SIGN UP SCREEN---------------------*/
.signup-wrapper form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.signup-wrapper form .label-wrapper{
    margin-top: 50px;
}

.signup-wrapper form .email-label-wrapper div{
    width: 217.29px ;
}

.signup-wrapper form input{
    margin-top: 10px;
    height: 30px;
    width: 300px;
    border-radius: 8px;
    background-color: #F0FCFA;
}

.signup-wrapper form input::placeholder{
    color: #5E838E;
    text-align: center;
    font-size: 19px;
    font-family: monospace;
}

.signup-wrapper .signup-article{
    margin-top: 40px;
}

.signup-wrapper .signup-article button{
    font-size: 40px;
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    border: 4px solid #000A16;
    padding: 1px 20px;
    background-color: #F0FCFA;
    width: auto;
    font-family: inherit;
    transform: translate(-4%, -10%);
}

.signup-wrapper .signup-article div{
    background-color: #334A51;
    height: 56.67px;
    width: 201.95px;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}


/* ------------------------PRINT-MY-CARBON.HTML PAGE---------------------- */
/* ------------------FOOD CATEGORY--------------------- */
nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

nav article{
    border: 2px solid #000A16;
    padding: 3px 10px;
    border-radius: 5px;
    background-color: #334A51;
}

nav a{
    color: #F0FCFA;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav article a img{
    height: 20px;
    width: auto;
    margin-right: 7px;
}

.food-cat-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.food-cat-facecard{
    margin-bottom: 20px;
}

.food-cat-facecard .facecard-container {
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 5px 30px;
    background-color: #0D3640;
    text-align: center;
    border: 2px solid #000A16;
    position: absolute;
    z-index: 1;
    transform: translate(-7%, -7%);
}

.food-cat-facecard div{
    position: relative;
    z-index: 0;
    width: 235.33px;
    height: 243.69px;
    background-color: #334A51;
    border-radius: 30px;
}

.food-cat-facecard .food-img-wrapper{
    border: 3px solid #000A16;
    border-radius: 100px;
    background-color: #E7FFEF;
}

.food-cat-facecard .food-img-wrapper img{
    height: 170px;
    width: auto;
    clip-path: circle(80px);
}

.food-cat-wrapper form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}

/* to edit
.food-cat-wrapper form .left-sect{

} */

.qty-label-wrapper{
    margin-top: 30px;
}

.meat-label-wrapper label, .qty-label-wrapper label, .freq-label-wrapper label, .carbs-label-wrapper label, .carbs-qty-label-wrapper label, .carbs-freq-label-wrapper label, .energy-src-label-wrapper label, .energy-qty-wrapper label, .energy-freq-wrapper label{
    background-color: #334A51;
    font-size: 20px;
    border: 2px solid #000A16;
    text-align: center;
    border-radius: 7px;
    width: fit-content;
    padding: 0px 10px;
    position: absolute;
    z-index: 1;
    transform: translate(-2%, -11%);
}

.meat-label-wrapper div, .qty-label-wrapper div, .freq-label-wrapper div, .carbs-label-wrapper div, .carbs-qty-label-wrapper div, .carbs-freq-label-wrapper div, .energy-src-label-wrapper div, .energy-qty-wrapper div, .energy-freq-wrapper div, .energy-ret-next-section div{
    background-color: #000A16;
    position: relative;
    z-index: 0;
    border-radius: 7px;
}

.meat-label-wrapper div, .freq-label-wrapper div, .carbs-freq-label-wrapper div, .energy-freq-wrapper div{
    height:28px;
    width: 133.97px;
}


.qty-label-wrapper div{
    height: 28px;
    width: 122.97px;
}

.qty-label-wrapper, .freq-label-wrapper, .carbs-qty-label-wrapper, .carbs-freq-label-wrapper, .energy-src-label-wrapper, .energy-qty-wrapper, .energy-freq-wrapper{
    margin-bottom: 10px;
}

.freq-wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.freq-wrapper input, .noOfMeats input, .carbs-wrapper .form-sect input, .energy-form-wrapper .energy-form-sect input{
    margin-right: 10px;
    border-radius: 7px;
    background-color: #F0FCFA;
}

.freq-wrapper input::placeholder, .noOfMeats input::placeholder, .carbs-wrapper .form-sect input::placeholder, .energy-form-wrapper .energy-form-sect input::placeholder{
    color: #5E838E;
    text-align: center;
    /* font-size: 19px; */
    font-family: monospace;
}

.carbs-next-btn, .ret-next-section button, .energy-ret-next-section button{
    display: flex;
    font-size: 15px;
    font-family: inherit;
    border-radius: 7px;
    border: 2px solid #000A16;
    /* font-weight: 500; */
    background-color: #96AFB8;
    color: #21383F;
    padding: 1px 7px;
}

.carbs-next-btn img{
    height: 17px;
    width: auto;
    margin-left: 3px;
}

.carbs-next-wrapper .carbs-next-btn{
    position: absolute;
    transform: translate(-3%, -13%);
    z-index: 1;
}

.carbs-next-wrapper div{
    height: 24px;
    width: 79.24px;
    position: relative;
    z-index: 0;
    background-color: #000913;
    border-radius: 7px;
}


.food-cat-wrapper .carbs-wrapper .form-sect{
    display: flex;
    flex-direction: column;
}

.carbs-label-wrapper div{
    width: 177.95px;
    height: 28px;
}

.carbs-qty-label-wrapper div{
    width: 122.97px;
    height: 28px;
}


.ret-next-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}

.ret-next-section button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 10px;
}


.energy-next-btn, .energy-ret-next-section button{
    font-weight: 600;
}

.ret-next-section img, .energy-ret-next-section img{
    height: 17px;
    width: auto;
}

.meat-prev-btn img, .food-cat-prev-btn img{
    margin-right: 3px;
}

.energy-next-btn img, .transport-cat-next-btn img{
    margin-left: 3px;
}


/* -----------------ENERGY CATEGORY------------------- */
.energy-cat-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.energy-cat-facecard{
    margin-bottom: 20px;
}

.energy-cat-facecard .energy-facecard-container {
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 5px 30px;
    background-color: #E7FFEF;
    text-align: center;
    border: 2px solid #000A16;
    position: absolute;
    z-index: 1;
    transform: translate(-7%, -7%);
}

.energy-cat-facecard .energy-facecard-container h2{
    color: #000A16;
}
.energy-cat-facecard div{
    position: relative;
    z-index: 0;
    width: 235.33px;
    height: 243.69px;
    background-color: #43655A;
    border-radius: 30px;
}

.energy-cat-facecard .energy-img-wrapper{
    border: 3px solid #000A16;
    border-radius: 100px;
    background-color: #334A51;
}

.energy-cat-facecard .energy-img-wrapper img{
    height: 170px;
    width: auto;
    clip-path: circle(80px);
}

.energy-form-wrapper{
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-evenly;
}

.energy-src-label-wrapper div{
    width: 188.95px;
    height: 28px;
}

.energy-qty-wrapper div{
    height: 28px;
    width: 232.93px;
}

.energy-form-wrapper .left-sect input{
    width: 200px;
}

.energy-form-wrapper .right-sect input{
    width: 120px;
}

.energy-ret-next-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    margin-top: 30px;
}

.food-cat-prev-btn{
    position: absolute;
    z-index: 1;
    transform: translate(-2%, -13%);
}

.transport-cat-next-btn{
    position: absolute;
    z-index: 1;
    transform: translate(-1.5%, -13%);
}


.food-cat-prev-wrapper div{
    position: relative;
    z-index: 0;
    height: 24px;
    width: 145.22px;
}

.transport-cat-next-wrapper div{
    position: relative;
    z-index: 0;
    height: 24px;
    width: 227.69px;
}


/*----------------- TRANSPORT SCREEN-------------- */
.transport-cat-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.transport-cat-facecard{
    margin-bottom: 20px;
}

.transport-cat-facecard .transport-facecard-container {
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 5px 30px;
    background-color: #43655A;
    text-align: center;
    border: 2px solid #000A16;
    position: absolute;
    z-index: 1;
    transform: translate(-7%, -7%);
}

.transport-cat-facecard .transport-facecard-container h2{
    color: #E7FFEF;
}
.transport-cat-facecard div{
    position: relative;
    z-index: 0;
    width: 310.59px;
    height: 242.35px;
    background-color: #74988C;
    border-radius: 30px;
}

.transport-cat-facecard .transport-img-wrapper{
    /* border: 3px solid #000A16; */
    /* border-radius: 150px; */
    /* height: 200px; */
    background-color: #E7FFEF;
    clip-path: circle(83px);
}

.transport-cat-facecard .transport-img-wrapper img{
    height: 170px;
    width: auto;
    clip-path: circle(85px);
}
/* 
tablette site
.landing-main{
    font-size: 40px;
}

.landing-btns .login-article button{
    transform: translate(-10%, -15%)
}

.landing-btns .signup-article button{
    transform: translate(-5.7%, -15%)
}

.landing-btns .login-article div{
    width: 140px;
}

.landing-btns .signup-article div{
    width: 175px;
}

mobile site
.landing-btns{
    flex-wrap: wrap;
} 

.landing-btns .login-article{
    margin-bottom: 15px
}
*/