html, body, main{
    width: 100%;
    height: 100%;
}

section{
    width: 100%;
}

body, .landing-btns, .landing-main{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 60px;
}

body{
    background-color: #0D3640;
    color: #F0FCFA;
    flex-direction: column;
    font-family: monospace;
}


.logo-wrapper{
    border: 2px solid #000A16;
    border-radius: 150px;
    padding: 8px;
    background-color: #406570;
    display: flex;
    
}

.logo{
    height: 50px;
    width: auto;
    clip-path: circle(25px);
}

.pmc-main p{
    transition: 0.4s;
    width: fit-content;
}

.pmc-main p:hover{
    background-color: #2D8474;
    width: fit-content;
    padding: 1px 10px;
    border: 2px solid #000A16;
    border-radius: 5px;
    transition: 0.4s;
    cursor: pointer;
    color: #000A16;
}

.pmc-main p:active{
    background-color: #E7FFEF;
    color: #000A16;
}

.pmc-main-p-selected{
    background-color : #0E7377;
    border : 2px solid #000A16;
    border-radius: 5px;
    padding : 1px 10px;
    width: fit-content;
}


nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

nav article{
    border: 2px solid #000A16;
    border-radius: 5px;
    background-color: #334A51;
    transition: 0.4s;
    height: fit-content;
    width: fit-content;

    display: flex;
}

nav a{
    color: #F0FCFA;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 3px 10px;
}

nav article a img{
    height: 20px;
    width: auto;
    margin-right: 7px;
}

nav article:hover{
    background-color: #455C6D;
    transition: 0.4s;
    cursor: pointer;
}

.page-link{
    background-color: #A3BDC5;
}

.page-link:hover{
    background-color: #6F888F;
    cursor: pointer;
}

.page-link a{
    color: #000A16;
    font-size: 15px;
}

.sign-out-btn{
    background-color: #000A16;
    border: 2px solid #3D4856;
}

.sign-out-btn:hover{
    background-color: #7f2c00e0;
    cursor: pointer;
    border: 2px solid #000A16;
}

.return-btn-wrapper{
    background-color: #2F3640;
}

.return-btn-wrapper:hover{
   background-color: #000a16db;
   border: 1.7px solid #3D4856;
}

/*-----------------------LANDING MAIN (LOGIN, SIGNUP)------------------ */
.landing-main{
    font-size: 50px;
    flex-direction: column;
}

.landing-wrapper{
    text-align: center;
}

.site-name{
    font-size: 20px;
    margin: 2px;
    color: #627B83;
}

.landing-btns{
    display: flex;
    justify-content: space-evenly;
}

.landing-btns .login-article, .landing-btns .signup-article, .signup-login-article{
    display: flex;
}

/* shared */
.landing-btns .login-article button, .landing-btns .signup-article button{
    font-family: inherit;
    font-size: inherit;
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    border: 4px solid #000A16;
    padding: 0px 25px;
    background-color: #F0FCFA;
    width: auto;
}

.landing-btns .signup-article button, .landing-btns .login-article button{
    transform: translate(-4%, -13%)
}


.landing-btns .login-article div, .landing-btns .signup-article div{
    background-color: #334A51;
    height: 66.77px;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
.landing-btns .login-article div{
    width: 222.95px;
}

.landing-btns .signup-article div{
    width: 250.44px;
}


/* ---------------------LOGIN SCREEN------------------- */

.login-wrapper, .login-form-wrapper form, .recycling-cat-wrapper form{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}


.login-wrapper, .login-form-wrapper form{
    flex-direction: column;
}

.login-form-wrapper input{
    height: 30px;
    width: 300px;
    border-radius: 8px;
    margin-bottom: 50px;
    background-color: #F0FCFA;
}

.login-form-wrapper input::placeholder{
    color: #5E838E;
    text-align: center;
    font-size: 19px;
    font-family: monospace;
}

.login-btn{
    margin-top: 30px;
}

.login-form-wrapper form .label-wrapper{
    margin-bottom: 10px;
}

.label-wrapper label{
    background-color: #406570;
    border: 3px solid #000A16;
    border-radius: 10px;
    padding: 0 40px;
    position: absolute;
    z-index: 1;
    transform: translate(-2%, -11%);
    font-size: 40px;
}

.email-label-wrapper label{
    transform: translate(-3%, -10%);
}

.email-label-wrapper div{
    border-radius: 10px;
}

.label-wrapper div{
    height: 52px;
    width: 283.27px;
    position: relative;
    z-index: 0;
    background-color: #96AFB8;
    border-radius: 10px 9px 11px 10px;
}

.login-btn button{
    font-size: 40px;
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    border: 4px solid #000A16;
    padding: 0px 20px;
    background-color: #F0FCFA;
    width: auto;
    transform: translate(-3.5%, -10%);
    font-family: inherit;
}

.login-btn button a, .signup-wrapper .signup-article button a{
    color: #000A16;
    text-decoration: none;
}

.login-btn div{
    background-color: #334A51;
    height: 54.67px;
    width: 179.96px;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}


/* ------------------------SIGN UP SCREEN---------------------*/
.signup-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-wrapper form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.signup-wrapper form .label-wrapper{
    margin-top: 50px;
}

.signup-wrapper form .email-label-wrapper div{
    width: 217.29px ;
}

.signup-wrapper form input{
    margin-top: 10px;
    height: 30px;
    width: 300px;
    border-radius: 8px;
    background-color: #F0FCFA;
}

.signup-wrapper form input::placeholder{
    color: #5E838E;
    text-align: center;
    font-size: 19px;
    font-family: monospace;
}

.signup-wrapper .signup-article{
    margin-top: 40px;
}

.signup-wrapper .signup-article button{
    font-size: 40px;
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    border: 4px solid #000A16;
    padding: 1px 20px;
    background-color: #F0FCFA;
    width: auto;
    font-family: inherit;
    transform: translate(-3%, -10%);
}

.signup-wrapper .signup-article div{
    background-color: #334A51;
    height: 56.67px;
    width: 201.95px;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}


/* ------------------------PRINT-MY-CARBON.HTML PAGE---------------------- */
/* ------------------FOOD CATEGORY--------------------- */

.food-cat-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.food-cat-facecard{
    margin-bottom: 20px;
}

.food-cat-facecard .facecard-container {
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 5px 30px;
    background-color: #0D3640;
    text-align: center;
    border: 2px solid #000A16;
    position: absolute;
    z-index: 1;
    transform: translate(-7%, -7%);
}

.food-cat-facecard div{
    position: relative;
    z-index: 0;
    width: 235.33px;
    height: 243.69px;
    background-color: #334A51;
    border-radius: 30px;
}

.food-cat-facecard .food-img-wrapper{
    border: 3px solid #000A16;
    border-radius: 100px;
    background-color: #E7FFEF;
}

.food-cat-facecard .food-img-wrapper img{
    height: 170px;
    width: auto;
    clip-path: circle(80px);
}

.eat-in-label-wrapper, .eat-out-label-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.eat-in-label-wrapper h3, .eat-out-label-wrapper h3{
    background-color: #2D8474;
    font-size: 15px;
    border: 2px solid #000A16;
    text-align: center;
    border-radius: 5px;
    width: fit-content;
    padding: 0px 10px;
    position: absolute;
    z-index: 1;
}

.eat-in-label-wrapper h3{
    transform: translate(-2%, -11%);
}

.eat-out-label-wrapper h3{
    transform: translate(-3%, -11%);
}

.eat-in-label-wrapper div{
    background-color: #031700;
    position: relative;
    z-index: 0;
    border-radius: 5px;
    width: 114.72px;
    height: 22px;
}

.eat-out-label-wrapper div{
    background-color: #031700;
    position: relative;
    z-index: 0;
    border-radius: 5px;
    width: 106.48px;
    height: 22px;
}



.food-cat-wrapper form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

/* to edit
.food-cat-wrapper form .left-sect{

} */

.qty-label-wrapper{
    margin-top: 30px;
}

.meat-label-wrapper label, .qty-label-wrapper label, .freq-label-wrapper label, .carbs-label-wrapper label, .carbs-qty-label-wrapper label, .carbs-freq-label-wrapper label, .energy-src-label-wrapper label, .energy-qty-wrapper label, .energy-freq-wrapper label, .mode-label-wrapper label, .distance-label-wrapper label, .transport-freq-label-wrapper label, .recycling-meth-label-wrapper label, .recycling-qty-label-wrapper label, .recycling-freq-label-wrapper label, .eat-out-meal-label label, .eat-out-qty-label-wrapper label, .eat-out-freq-label-wrapper label{
    background-color: #334A51;
    font-size: 20px;
    border: 2px solid #000A16;
    text-align: center;
    border-radius: 7px;
    width: fit-content;
    padding: 0px 10px;
    position: absolute;
    z-index: 1;
    transform: translate(-2%, -11%);
}

.meat-label-wrapper div, .qty-label-wrapper div, .freq-label-wrapper div, .carbs-label-wrapper div, .carbs-qty-label-wrapper div, .carbs-freq-label-wrapper div, .energy-src-label-wrapper div, .energy-qty-wrapper div, .energy-freq-wrapper div, .energy-ret-next-section div, .mode-label-wrapper div, .distance-label-wrapper div, .transport-freq-label-wrapper div, .transport-ret-next-section div, .recycling-meth-label-wrapper div, .recycling-qty-label-wrapper div, .recycling-freq-label-wrapper div, .recycling-ret-next-section div, .eat-in-meat-prev-wrapper div, .eat-out-meal-label div, .eat-out-qty-label-wrapper div, .eat-out-freq-label-wrapper div, .signup-login-article div{
    background-color: #000A16;
    position: relative;
    z-index: 0;
    border-radius: 7px;
}

.meat-label-wrapper div, .freq-label-wrapper div, .carbs-freq-label-wrapper div, .energy-freq-wrapper div, .transport-freq-label-wrapper div{
    height:28px;
    width: 133.97px;
}


.qty-label-wrapper div{
    height: 28px;
    width: 122.97px;
}

.qty-label-wrapper, .freq-label-wrapper, .carbs-qty-label-wrapper, .carbs-freq-label-wrapper, .energy-src-label-wrapper, .energy-qty-wrapper, .energy-freq-wrapper, .mode-label-wrapper, .transport-freq-label-wrapper, .distance-label-wrapper, .eat-out-meal-label, .eat-out-qty-label-wrapper, .eat-out-freq-label-wrapper{
    margin-bottom: 10px;
}

.freq-wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.freq-wrapper input, .noOfMeats input, .carbs-wrapper .form-sect input, .energy-form-wrapper .energy-form-sect input, .transport-cat-wrapper form input, .recycling-cat-wrapper input, .eat-out-wrapper input{
    margin-right: 10px;
    border-radius: 7px;
    background-color: #F0FCFA;
}

.freq-wrapper input::placeholder, .noOfMeats input::placeholder, .carbs-wrapper .form-sect input::placeholder, .energy-form-wrapper .energy-form-sect input::placeholder, .transport-cat-wrapper form input::placeholder, .recycling-cat-wrapper input::placeholder, .eat-out-wrapper input::placeholder{
    color: #5E838E;
    text-align: center;
    /* font-size: 19px; */
    font-family: monospace;
}

.eat-in-ret-next-sect{
    width: 17%;
}

.eat-in-meat-prev-wrapper div{
    width: 73.99px;
    height: 24px;
}

.eat-out-next-wrapper div{
    height: 24px;
    width: 98.74px;
}

.eat-out-meal-label div{
    height: 28px;
    width: 67.99px;
}

.eat-out-qty-label-wrapper div{
    width: 122.97px;
    height: 28px;
}

.eat-out-freq-label-wrapper div{
    width: 133.97px;
    height: 28px;
}

.carbs-next-btn, .ret-next-section button, .energy-ret-next-section button, .transport-ret-next-section button, .recycling-ret-next-section button, .transport-ret-next-section button{
    display: flex;
    font-size: 15px;
    font-family: inherit;
    border-radius: 7px;
    border: 2px solid #000A16;
    /* font-weight: 500; */
    background-color: #96AFB8;
    color: #21383F;
    padding: 1px 7px;
}

.carbs-next-btn img{
    height: 17px;
    width: auto;
    margin-left: 3px;
}

.carbs-next-wrapper .carbs-next-btn{
    position: absolute;
    transform: translate(-3%, -13%);
    z-index: 1;
}

.carbs-next-wrapper div{
    height: 24px;
    width: 79.24px;
    position: relative;
    z-index: 0;
    background-color: #000913;
    border-radius: 7px;
}


.food-cat-wrapper .carbs-wrapper .form-sect{
    display: flex;
    flex-direction: column;
}

.carbs-label-wrapper div{
    width: 177.95px;
    height: 28px;
}

.carbs-qty-label-wrapper div{
    width: 122.97px;
    height: 28px;
}


.ret-next-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

article.ret-next-section.eat-out-ret-next-sect {
    width: 25%;
}

.ret-next-section button, .recycling-ret-next-section button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 10px;
}


.energy-next-btn, .energy-ret-next-section button, .transport-ret-next-section button, .recycling-ret-next-section button{
    font-weight: 600;
}

.ret-next-section img, .energy-ret-next-section img, .transport-ret-next-section img, .recycling-ret-next-section img{
    height: 17px;
    width: auto;
}

.eat-in-prev-btn img, .food-cat-prev-btn img, .energy-cat-prev-btn img{
    margin-right: 3px;
}

.energy-next-btn img, .transport-cat-next-btn img, .waste-cat-next-btn img{
    margin-left: 3px;
}

.ret-next-section button{
    position: absolute;
    z-index: 1;
    transform: translate(-2%, -10%);
}

.ret-next-section div{
    position: relative;
    z-index: 0;
    background-color: #000A16;
    border-radius: 7px;
}

.eat-in-prev-wrapper div{
    width: 93.49px;
    height: 24px;
}

.energy-next-wrapper div{
    width: 167.71px;
    height: 24px;
}

/* -----------------ENERGY CATEGORY------------------- */
.energy-cat-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.energy-cat-facecard{
    margin-bottom: 20px;
}

.energy-cat-facecard .energy-facecard-container {
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 5px 30px;
    background-color: #E7FFEF;
    text-align: center;
    border: 2px solid #000A16;
    position: absolute;
    z-index: 1;
    transform: translate(-7%, -7%);
}

.energy-cat-facecard .energy-facecard-container h2{
    color: #000A16;
}
.energy-cat-facecard div{
    position: relative;
    z-index: 0;
    width: 235.33px;
    height: 243.69px;
    background-color: #43655A;
    border-radius: 30px;
}

.energy-cat-facecard .energy-img-wrapper{
    border: 3px solid #000A16;
    border-radius: 100px;
    background-color: #334A51;
}

.energy-cat-facecard .energy-img-wrapper img{
    height: 170px;
    width: auto;
    clip-path: circle(80px);
}

.energy-form-wrapper{
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-evenly;
}

.energy-src-label-wrapper div{
    width: 188.95px;
    height: 28px;
}

.energy-qty-wrapper div{
    height: 28px;
    width: 232.93px;
}

.energy-form-wrapper .left-sect input{
    width: 200px;
}

.energy-form-wrapper .right-sect input{
    width: 120px;
}

.energy-ret-next-section, .transport-ret-next-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    margin-top: 30px;
}

.food-cat-prev-btn{
    position: absolute;
    z-index: 1;
    transform: translate(-2%, -13%);
}

.transport-cat-next-btn{
    position: absolute;
    z-index: 1;
    transform: translate(-1.5%, -13%);
}


.food-cat-prev-wrapper div{
    position: relative;
    z-index: 0;
    height: 24px;
    width: 145.22px;
}

.transport-cat-next-wrapper div{
    position: relative;
    z-index: 0;
    height: 24px;
    width: 227.69px;
}


/*----------------- TRANSPORT SCREEN-------------- */
.transport-cat-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.transport-cat-facecard{
    margin-bottom: 20px;
}

.transport-cat-facecard .transport-facecard-container {
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 5px 30px;
    background-color: #43655A;
    text-align: center;
    border: 2px solid #000A16;
    position: absolute;
    z-index: 1;
    transform: translate(-7%, -7%);
}

.transport-cat-facecard .transport-facecard-container h2{
    color: #E7FFEF;
}
.transport-cat-facecard div{
    position: relative;
    z-index: 0;
    width: 310.59px;
    height: 242.35px;
    background-color: #74988C;
    border-radius: 30px;
}

.transport-cat-facecard .transport-img-wrapper{
    /* border: 3px solid #000A16; */
    /* border-radius: 150px; */
    /* height: 200px; */
    background-color: #E7FFEF;
    clip-path: circle(84px);
}

.transport-cat-facecard .transport-img-wrapper img{
    height: 170px;
    width: auto;
    clip-path: circle(80px);
    transform: translate(-0.2%, 1%);
}

.transport-cat-wrapper form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
}

.transport-cat-wrapper form .right-sect{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: space-around;
    height: 320px;
}

.mode-label-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}
.mode-label-wrapper div{
    height: 28px;
    width: 276.92px;
}

.distance-label-wrapper div{
    height: 28px ;
    width: 122.97px;
}

.modes-opt-wrapper{
    display: flex;
    flex-wrap: wrap;
    /* flex: 1 1 25%; */
    width: 70%;
    justify-content: space-around;
    align-items: center;
}

.modes-opt-wrapper h3, .public-trans-opt, .recycling-left-sect h3, .metal-opt{
    background-color: #43655A;
    padding: 1px 15px;
    border-radius: 5px;
    border: 2px solid #000A16;
}

.diesel-mode-opt h3{
    margin-top: 5px;
}

.electric-mode-opt h3{
    margin-top: 0px;
}

.public-trans-opt, .metal-opt{
    font-size: 15.21px;
    font-weight: bold;
}

.transport-ret-next-section .waste-cat-next-wrapper div{
    width: 244.18px;
    height: 24px;
    /* position: relative; */
}

.energy-cat-prev-wrapper div{
    height: 24px;
    width: 161.71px;
}


/* ----------------------RECYCLING CATEGORY------------------------ */

.recycling-cat-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.recycling-cat-facecard{
    margin-bottom: 20px;
}

.recycling-cat-facecard .recycling-facecard-container {
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 5px 30px;
    background-color: #6B9B7D;
    text-align: center;
    border: 2px solid #000A16;
    position: absolute;
    z-index: 1;
    transform: translate(-7%, -7%);
}

.recycling-cat-facecard div{
    position: relative;
    z-index: 0;
    width: 332.03px;
    height: 247.69px;
    background-color: #1D1D35;
    border-radius: 30px;
}

.recycling-cat-facecard .recycling-img-wrapper{
    border: 3px solid #000A16;
    border-radius: 100px;
    background-color:#0D3640;
    clip-path: circle(83px);
}

.recycling-cat-facecard .recycling-img-wrapper img{
    height: 170px;
    width: auto;
    clip-path: circle(80px);
    transform: translate(-0.3%, 1%);
}

.recycling-meth-label-wrapper, .recycling-qty-label-wrapper, .recycling-freq-label-wrapper{
    margin-bottom: 4px;
}

.recycling-meth-label-wrapper div{
    height: 28px ;
    width: 210.94px;
}

.recycling-qty-label-wrapper div{
    height: 28px ;
    width: 122.97px ;
}

.recycling-freq-label-wrapper div{
    height: 28px;
    width: 133.97px;
}

.recycling-cat-wrapper form{
    width: 50%;
    justify-content: space-around;
    height: 35%;
}

.recycling-cat-wrapper form .recycling-right-sect{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.recycling-left-sect h3{
    width: fit-content;
}

.recycling-ret-next-section{
    margin-top: 10px;
    display: flex;
    width: 30%;
    justify-content: space-evenly;
}

.recycling-ret-next-section button, .transport-ret-next-section button{
    position: absolute;
    z-index: 1;
    transform: translate(-2%, -13%);
}

.recycling-ret-next-section div{
    height: 24px;
    width: 230.69px;
}

.done-btn-wrapper{
    display: flex;
    width: fit-content;
}

.done-btn-wrapper a{
    color: #000A16;
    text-decoration: none;
    width: 100%;
}

.done-btn-wrapper div{
    width: 73.49px;
}

/* ---------------------PROFILE.HTML PAGE------------------ */

.profile-main, .profile-wrapper, .score-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-main{
    background-color: #005E61;
    width: 40%;
    border-radius: 10px;
    margin: 20px 0 40px 0;
    border: 2px solid #000A16;
    color: #E6FEFE;
    /* height: 85%; */
}

.profile-img-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #000A16;
    border-radius: 20px;
    background-color: #365B66;
    width: fit-content;
    padding: 10px 15px;
}

.profile-main .profile-wrapper h3{
    text-align: center;
    font-size: 25px;
    margin-top: 5px;
}

.profile-main .profile-wrapper p{
    margin-bottom: 5px;
    background-color: #0d364071;
    padding: 1px 10px;
    border-radius: 5px;
    border: 2px solid #000A16;
}

.profile-img-wrapper img{
    height: 200px;
    width: auto;
}

.profile-main p{
    color: #95B0B1;
    text-align: center;
}

.sub-scores-wrapper{
    display: flex;
    width: 80%;
    justify-content: space-between;

}

.overall-score-wrapper p{
    font-size: 20px;
}

.sub-scores-wrapper p{
    font-size: 15px;
}

.score-section h3, .score-section h4{
    border: 2px solid #000A16;
    padding: 1px 10px;
    border-radius: 5px;
    width: fit-content;
}

.score-section h3{
    font-size: 17px ;
}

.score-section h4{
    font-size: 15px;
}


/* -------------------LEADERBAORD.HTML PAGE------------------*/

.leaberboard-main{
    display: flex;
    /* justify-content: center; */
    /* align-items: flex-start; */
    flex-direction: column;
    text-align: center;
    background-color: #334A51;
    margin: 50px 0;
    border-radius: 10px;
    width: 40%;
    border: 3px solid #000A16;
    overflow: scroll;
    color: #E8FDFF;
}

.lb-img-wrapper{
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lb-img-wrapper img{
    height: 180px;
    width: auto;
    background-color: #2C6575;
    border: 3px solid #000A16;
    padding: 5px 20px;
    border-radius: 7px;
}

.lb-img-wrapper p{
    font-size: 17px;
    /* color: #9CB5BD; */
    margin-bottom: 10px;
    border: 2px solid #000A16;
    width: fit-content;
    padding: 1px 15px;
    border-radius: 7px;
    background-color: #2E454C;
}

.leaberboard-main .lb-list-wrapper{
    display: flex;
}

.leaberboard-main .lb-list-wrapper article{
    width: 100%;
}


.leaberboard-main article h3, .leaberboard-main article h2{
    height: 24px;
    margin: 18px 0;
    display: flex;
    justify-content: center;
    align-items: last baseline;
}


.leaberboard-main .lb-numbering .grey-lb{
    background-color: #627B83;
    border-radius: 3px 0 0 3px;
}

.leaberboard-main .lb-usernames-list .grey-lb{
    background-color: #627B83;
}

.leaberboard-main .lb-scores-list .grey-lb{
    background-color: #627B83;
    border-radius: 0 3px 3px 0;

}


/* -------------------------HOMEPAGE.HTML-------------------- */
.hp-main{
    border-radius: 10px;
    border: 3px solid #000A16;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    margin: 50px 50px 0 50px;
    overflow: scroll;
    width: 60%;
    padding: 0px 30px 30px 30px;
}

.hp-main h1{
    text-align: center;
    font-size: 50px;
}

.signup-login-article{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.signup-login-article button{
    font-size: 20px;
    font-family: inherit;
    border-radius: 7px;
    position: absolute;
    z-index: 1;
    transform: translate(-2%, -13%);
    background-color: #98B0A9;
    font-weight: 600;
}

.signup-login-article a{
    color: #000A16;
    text-decoration: none;
}

.signup-login-article div{
    position: relative;
    z-index: 0;
    height: 30px;
    width: 180.95px;
    background-color: #142219;
}

.hp-main article p{
    text-align: center;
}
/* 
tablette site
.landing-main{
    font-size: 40px;
}

.landing-btns .login-article button{
    transform: translate(-10%, -15%)
}

.landing-btns .signup-article button{
    transform: translate(-5.7%, -15%)
}

.landing-btns .login-article div{
    width: 140px;
}

.landing-btns .signup-article div{
    width: 175px;
}

mobile site
.landing-btns{
    flex-wrap: wrap;
} 

.landing-btns .login-article{
    margin-bottom: 15px
}
*/